fastapi
uvicorn[standard]
gunicorn
yfinance
pandas<2.0.0
numpy
google-generativeai
openai
python-dotenv
requests
beautifulsoup4
sqlalchemy
asyncpg
python-multipart
python-jose[cryptography]
passlib[bcrypt]
git+https://github.com/twopirllc/pandas-ta.git@development